<!-- Nav bar -->
<nav
  class="navbar navbar-fixed-top fixed-top navbar-expand-lg"
  style="background-color: #ff006e"
  *ngIf="isRequired"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="color: white"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" style="color: white">User Management System</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="users" *ngIf="checkRole()"
            >Users</a
          >
        </li>
      </ul>

      <!-- Drop down -->
      <div class="btn-group">
        <button
          class="btn dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="background-color: white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-lg-end"
          style="background-color: #ff499e"
        >
          <li>
            <a class="dropdown-item" routerLink="profile">View Profile</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" (click)="logout()" href="">Logout</a>
          </li>
        </ul>
      </div>
      <!-- End of dropdown -->
    </div>
  </div>
</nav>
<!-- End of navbar -->

<router-outlet></router-outlet>

<!-- Footer -->
<footer
  class="text-center text-lg-start bg-light text-muted lg-fixed-bottom"
  *ngIf="isRequired"
>
  <!-- Section: Links  -->
  <section class="pt-1" style="background-color: #ff499e">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>McPitz IT Solutions
          </h6>
          <p>
            Affordable services that you can trust. Custom designs to meet your
            business needs.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Products</h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Java</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Pretoria, GP 0001, RSA</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            obakeng@digilink.africa
          </p>
          <p><i class="fas fa-phone me-3"></i> +27 63 587 8009</p>
          <p><i class="fas fa-print me-3"></i> +27 78 375 2647</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: #ff006e">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="">obakengpitse.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
