<section class="vh-100" style="background-color: #b9cbd1">
  <div class="container py-5 h-10">
    <div class="row d-flex justify-content-center h-100">
      <div class="col col-lg-10 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="Avatar"
                class="img-fluid my-5"
                style="width: 120px"
              />
              <h5>{{ user.name }}</h5>
              <p>Web Designer</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{ user.email }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Username</h6>
                    <p class="text-muted">{{ user.id }}</p>
                  </div>
                </div>
                <h6>Projects</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Recent</h6>
                    <p class="text-muted">Lorem ipsum</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Most Viewed</h6>
                    <p class="text-muted">Dolor sit amet</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <button
                    class="btn btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    (click)="update()"
                  >
                    Update details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div style="background-color: yellowgreen" class="modal-header">
        <h5
          style="color: white; font-size: 15px"
          class="modal-title"
          id="exampleModalLabel"
        >
          UPDATE USER DATA
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form -->
        <form>
          <div class="form-group mb-2">
            <label>Enter name</label>
            <input
              type="text"
              class="form-control"
              formControlName="nameM"
              placeholder="Enter name"
            />
          </div>
          <div class="form-group mb-2">
            <label>Enter email</label>
            <input
              type="email"
              class="form-control"
              formControlName="emailM"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group mb-2">
            <label>Enter username</label>
            <input
              type="text"
              class="form-control"
              formControlName="usernameM"
              placeholder="Enter username"
            />
          </div>

          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Save
          </button>
        </form>
        <!-- End of form -->
      </div>
      <div style="background-color: yellowgreen" class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End of modal -->
